/*@import url("https://fonts.googleapis.com/css?family=Open+Sans");*/
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'font';
  src: url('fonts/asdsad.eot');
  src: url('fonts/asdsad.eot') format('embedded-opentype'),
       url('fonts/asdsad.woff2') format('woff2'),
       url('fonts/asdsad.woff') format('woff'),
       url('fonts/asdsad.ttf') format('truetype'),
       url('fonts/asdsad.svg#asdsad') format('svg');
}


* {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
}

body {
  -webkit-animation: fadeIn 2s ease-in-out;
  -moz-animation: fadeIn 2s ease-in-out;
  animation: fadeIn 2s ease-in-out;
  font-family: 'font', sans-serif;
  background-color: #080a20;
  color: #e3dac9;
}
.menu-wrapper{
  position: absolute;
  right: 7vw;
  top: 5vh;
  display: flex;
flex-direction: row;
}
.menu {
  list-style: none;
	display: flex;
	align-items: center;

}
.menu li {
    display: inline-block;
    float: left;
    margin-right: 30px;
    font-size: 16px;
}
.hiring {
  padding: 0 !important;
  display: inline-block;
}
.hiring {
  padding: 50px 0;
  background: white;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: black;
  transform: rotate(5deg);
  justify-content: center;
}
.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: .15;
}
.hero header {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.hero header .box {
  box-sizing: border-box;
	padding: 50px;
	display: flex;
	justify-content: left;
	color: white;
	width: 321vw;
	left: 15vw;
	flex-direction: column;
}
.hero header .box h1 {
	text-align: left;
	font-size: 50px;
	font-weight: 900;
	line-height: 1.2;
	width: 786px;
}
.hero header .box svg {
  width: 110px;
  height: 140px;
}

.content-area {
  min-height: 50vh;
  padding: 3rem 6rem;
  font-size: 28px;
  letter-spacing: 3px;
  line-height: 4rem;
}

.grid-overlay {
  /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAAEFsT2yAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFElEQVR4nGNhYGBwYIET////ZwAAETIDym2lzEcAAAAASUVORK5CYII=);
  background-size: 2px 2px;
  background-position: 0 0;
  background-repeat: repeat;*/
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
