/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Home
:: Work
:: About me
:: Contact
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
html {height: 100%; overflow-y: visible;background: #EBEDEF; }
body {/* border-top: 3px solid #E14D47;*/ background: #EBEDEF; overflow-x: hidden; height: 100%;}
a {color:#E14D47;}

.nopadding {padding:0 !important;}

.logo { display: block; background: transparent url('../images/base/logo.gif') no-repeat 6px center; width: 44px; height: 72px; margin-left: 10px;}
/*.lnk_menu {color: #515968; font-size: 16px; font-weight: bold; padding:22px; line-height: 77px;}*/

.top-bar { background: none; height: 77px; padding-top:12px; margin:0; right:0;}
.home .top-bar {padding-top:13px;}
.top-bar ul > li { border: none; position:relative;}
.top-bar ul > li a:not(.button) {color: #515968; font-size: 16px; font-weight: bold;  -webkit-transition: color 0.2s ease-in-out; -moz-transition: color 0.2s ease-in-out; -o-transition: color 0.2s ease-in-out; transition: color 0.2s ease-in-out;}
.top-bar ul li a:hover { color: #E14D47;  -webkit-transition: color 0.15s ease-in-out; -moz-transition: color 0.15s ease-in-out; -o-transition: color 0.15s ease-in-out; transition: color 0.15s ease-in-out;  }

.top-bar ul > li:hover, .top-bar ul > li.active { background: transparent; }


.top-bar > li:hover { background: none; }
.top-bar > li > a:first-child { font-size: 16px; }
.top-bar > li:last-child  { border-right: none; }

.clear {clear:both;}

table { border:none; background: #FCFCFC; border:0; border-spacing: 5px; color: #3F3F44; }
table tbody tr td { background: #F2F2F2; }

.top-bar ul.left { float:left;width:auto;}
.top-bar ul.right { float:right;width:auto;}
.top-bar ul.right > li {float:left;}


ul.inline-list li a, ul.link-list li a {font-size:14px; font-weight: bold; color:#828c9e; margin-right:20px;}
footer p {font-size:14px; color:#252F41; width: 100%; text-align: center; margin:50px 0 10px; color: #6a6a6a;}
footer .link-list {float:none; margin:0 auto; width: 282px; overflow: hidden; margin-bottom:20px;}	

#container {min-height: 100%;}

@media only screen and (max-width: 767px) {
	.top-bar ul > li a:not(.button) {padding: 0 15px;} 
	.top-bar, .home .top-bar {padding:0; height: 48px; position: fixed; z-index: 32; border-top: 3px solid #E14D47; background: #EBEDEF; top:0; left: 0;}
	footer p {width: 100%; text-align: center; margin-bottom: 10px;}

}


/* -----------------------------------------
   Orbit
----------------------------------------- */

div.orbit-wrapper div.slider-nav span.right { margin:0; top: 0; width: 100%; height: 100%; cursor: pointer; background: none; opacity: 0; -webkit-transition: opacity 0.30s ease-in-out; -moz-transition: opacity 0.30s ease-in-out; -o-transition: opacity 0.30s ease-in-out; transition: opacity 0.30s ease-in-out;}
div.orbit-wrapper div.slider-nav span.right:hover { background: url('../images/foundation/orbit/right-arrow.png') center right no-repeat; opacity:1;cursor: pointer; }
div.orbit-wrapper div.slider-nav span.left { display:none }


#slider { background: url('../images/base/loader.gif') center center #e3e6e8 no-repeat; height: 750px; }
#slider img { display: none; }

#slider.orbit { background: none; }
#slider.orbit img { display: block; }

/* -----------------------------------------
   Home
----------------------------------------- */

#home_background { display:block; height: auto !important;height:100%; min-height:100%; width:100%; background: #FCFCFC;/*background:#e5e2e1; #D35144;#ee4d47 */ }

#display { position: absolute; right:-90px; }
#iam {  /*position: absolute; left:0; top:0; display:block; height: auto !important;height:100%; min-height:100%; width:100%;*/}
#iam_box{ position:absolute; top:43%; left:50%; margin: -200px 0 0 -335px;width:670px; text-align: center; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;padding: 40px 0 60px; color: #0A0A0A;}
.logo_title {margin-bottom: 20px;}
#iam_box h2 { font-family:"museo sans", Helvetica, Arial; font-size: 48px; line-height: 60px; text-align: center; font-weight:900; text-transform: uppercase;}
#iam_box p { font-size: 24px; color:#525151; margin-top:15px; line-height: 30px; text-align: center; padding: 0 10px;}
#btn_works {display: inline-block; font-size: 18px; font-weight: bold; padding: 27px 48px; background: #CC3B3B; color: #FCFCFC;-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;margin-top:20px;}
#tit_thumbnails{margin: 0px 10px 20px 10px;font-size: 36px;line-height: 42px; background: #FCFCFC; padding:39px 0 40px 207px;background: #FCFCFC url('../images/home/iam.png') 41px 30px no-repeat;
letter-spacing: -1px;}
#thumbnails{ position:relative;}
.thumbnail { display: block; margin-bottom: 20px; float:left; width: 100%; padding-bottom: 90%; overflow: hidden; background-size: 90% !important;}
/*.thumbnail:hover {background: #D24842 url('../images/home/arrow_hover.gif') no-repeat right top;}
.thumbnail:hover span { color: #FCFCFC !important }*/
.thumbnail span { display: block; float:left; clear: both; margin-left: 20px;}
.thumbnail span.work_title { color:#0A0A0A; font-size: 18px; font-family: "museo sans", Helvetica, Arial, sans-serif; font-weight: 900; margin-top: 20px;}
.thumbnail span.work_category { font-size: 16px; color: #666666; margin-bottom: 20px; margin-top:3px;}
.thumbnail img { width: 100%; display: block; float:left; opacity: 1;transition: opacity .15s ease-in-out;-moz-transition: opacity .15s ease-in-out;-webkit-transition: opacity .15s ease-in-out;}
.thumbnail img:hover {opacity: 0.8;}

.work1-thumb {background: #1a1a1a url('../images/works/work1_thumb.jpg') center center no-repeat;}
.work2-thumb {background: #3c8bee url('../images/works/work2_thumb.gif') center center no-repeat;}
.work3-thumb {background: #3c3578 url('../images/works/work3_thumb.jpg') center center no-repeat; background-size: 34% !important;}
.work4-thumb {background: #CF4D3D url('../images/works/work4_thumb.png') center 46% no-repeat; background-size: 50% !important;}
.work5-thumb {background: #26348c url('../images/works/work5_thumb.jpg') center center no-repeat; background-size: 50% !important;}
.work6-thumb {background: #ffe296 url('../images/works/work6_thumb.jpg') center center no-repeat; background-size: 40% !important;}


/* -----------------------------------------
   Work
----------------------------------------- */

#work { background: #FCFCFC; float:left; width: 100%;}
#work_header { float: left; padding: 30px 40px; width: 100%;}
#work_header #title {float:left;}
#work_header h2 { font-size: 28px; font-family: "museo sans", Helvetica, Arial, sans-serif; color:#020202; text-transform: uppercase; margin:0; padding:0; line-height: 35px;}
#work_header span {font-size:18px; font-weight: bold; color:#8e8e8e; display: block;}
#work_header a, .previous_work, .next_work { display:block; float:right; background: transparent url('../images/works/arrow_back.gif') no-repeat 20px 22px; padding: 18px 20px 22px 40px; font-size: 16px; font-weight: bold; color: #3F3F44; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-transition: background-color 0.2s ease-in-out; -moz-transition: background-color 0.2s ease-in-out; -o-transition: background-color 0.2s ease-in-out; transition: background-color 0.2s ease-in-out;  }
#work_header a {background: transparent url('../images/works/arrow_backtohome.gif') no-repeat 20px 22px;}
#work_header a:hover, .previous_work:hover, .next_work:hover { background: #EBEDEF url('../images/works/arrow_back.gif') no-repeat 20px 22px;  -webkit-transition: background-color 0.15s ease-in-out; -moz-transition: background-color 0.15s ease-in-out; -o-transition: background-color 0.15s ease-in-out; transition: background-color 0.15s ease-in-out;  }
#work_header a:hover {background: #EBEDEF url('../images/works/arrow_backtohome.gif') no-repeat 20px 22px;}
#work_header a:focus { -webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) inset; -moz-box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) inset; box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) inset; -webkit-transition: background-color 0.15s ease-in-out; -moz-transition: background-color 0.15s ease-in-out; -o-transition: background-color 0.15s ease-in-out; transition: background-color 0.15s ease-in-out;   }

#next_prev_work {float:left; clear:both; width: 100%; padding:0 34px;}
.previous_work {float:left;}
.next_work {float:right; background:transparent url('../images/works/arrow_next.gif') no-repeat 110px 22px;padding: 18px 40px 22px 20px;} 
.next_work:hover {background:transparent url('../images/works/arrow_next.gif') no-repeat 110px 22px;}
.previous_work, .next_work {margin: 20px 0; }
.previous_work:hover, .next_work:hover {background-color: #dde0e4; color:#3F3F44;}

@media only screen and (max-width: 767px) { #work { padding-bottom: 34px;} #next_prev_work { padding: 0 25px;} .previous_work{padding:18px 20px 22px 23px; background-position:  2px 22px;} .next_work{padding: 18px 23px 22px 20px} .previous_work, .next_work {margin-top:10px;}}

.white_slider {border-top: 1px solid #e1e4e5; border-bottom: 1px solid #e1e4e5;}
.white div.orbit-wrapper div.timer { opacity: 1; top: 20px;right: 30px;}
.white div.orbit-wrapper span.rotator { background: url('../images/foundation/orbit/rotator-white.png') no-repeat;}
.white div.orbit-wrapper span.rotator.move { background: url('../images/foundation/orbit/rotator-white.png') no-repeat;}
.white div.orbit-wrapper span.pause { background: url('../images/foundation/orbit/pause-white.png') no-repeat;}
.white div.orbit-wrapper span.mask.move { background: url('../images/foundation/orbit/timer-white.png') no-repeat 0 0; } 

.description { padding: 34px 40px;}
.description h3 {font-size: 23px; font-family: Helvetica, Arial, sans-serif; color:#020202; margin: 0 0 17px;; padding:0;}
.description p{color:#585858;}

#card { padding: 32px 40px;} 
#card table tbody tr td {padding: 14px;} 
#card table tbody tr:last-child td {padding-bottom:18px;} 
#card span {background: #EEEEEE;  padding:15px;}
#card .type {font-weight: bold; width: 85px; overflow: hidden; }
#card .data {width:100%;}
#card .data img {margin-right: 10px;}




@media only screen and (max-width: 767px) { #card { padding: 0 40px;} #work {margin-top:45px;}  }
@media only screen and (max-width: 640px) { #work_header, #description { padding: 30px 30px;} #card { padding: 0 25px;} .white div.orbit-wrapper div.timer { opacity: .6; top: 10px;right: 10px;}}


/* -----------------------------------------
   About me
----------------------------------------- */

#work_header.header_about{}
#work_header.header_about h2 {margin-top:9px;}
#looking {display: block;width: 100%;text-align: center;background: #E14D47;padding: 70px 0;color: #FCFCFC;font-weight: bold;font-size: 34px;}
.description_about { padding: 34px 40px;}
.description_about h3 {font-size: 23px; font-family: Helvetica, Arial, sans-serif; color:#020202; margin: 0 0 17px;; padding:0;}
.description_about p{color:#585858; padding-left:39px;}
.description_about ul {list-style: none;}

.description_about ul li span {display: inline-block; background: #EEEEEE; width:27px; text-align: center; font-weight: bold; margin-right: 10px;}
.description_about ul li h4 {font-size:17px; display: inline-block;}

/* -----------------------------------------
   Contact
----------------------------------------- */

.reveal-modal.medium-large {width: 660px; margin-left:-330px;}

#contact {background: #FCFCFC url('../images/contact/bg_contact.gif') repeat-x}
#contact h2 {font-size: 21px; font-family: "museo sans", Helvetica, Arial, sans-serif; color:#020202; text-transform: uppercase; margin:0; padding:7px;display: block; float:left; padding: 7px 13px 10px 15px; }
#contact i {display: block; float:left; clear: right; padding-top: 12px; color: #747474}
#close_contact {background: transparent url('../images/contact/close.gif') no-repeat center center; display: block; width: 44px; height: 44px;}
#contact_form_first {width: 100%; float: left; clear: both; padding: 0 15px;}

#contact input, #contact textarea { border:none; -webkit-box-shadow: none; -moz-box-shadow:none; box-shadow: none; background: #f3f4f5; padding: 14px 20px; color: #676869; border-top: 3px solid #ecedee;-webkit-border-radius: 0;-moz-border-radius: 0;-ms-border-radius: 0;-o-border-radius: 0;border-radius: 0; float: left;}

#message {padding:0 30px; float: left;}
#contact input:focus, #contact textarea:focus,#contact input:visited, #contact textarea:visited {background: #f7f7f7;}

#contact label{ color:#626262; display: block; margin: 15px 0 10px 4px;}
#contact button {margin-left:15px;background: #E14D47;border: none;-webkit-box-shadow:none; -moz-box-shadow: none; box-shadow: none; padding: 18px 24px;}
#contact button:hover {background: #cd2f28}

#contact input { height: 45px; }
#contact textarea {line-height: 24px;}
#contact #yourName, #contact #yourEmail { width: 98%; margin: 0;}
#contact #yourEmail {float:right;}
#contact #label-yourEmail {margin-left:8px;}
#callme {background: #fffce8; height: 52px; padding:13px 16px; margin-right:15px;}
#callme span{display: inline-block; background: transparent url('../images/contact/callme.gif') no-repeat 0 3px; color: #B36A05; font-weight: bold; height: 30px; padding-left: 25px; margin-left: 6px;}
  
@media only screen and (max-width: 767px) { 
	.reveal-modal.medium-large {width: 80%; margin-left:-40%;} 
	#contact h2{ padding-left:0;}
	#contact #yourName, #contact #yourEmail {width: 100%; height: 35px}
	#contact #yourEmail {float:left;}
	#contact #label-yourEmail {margin-left:3px;}
	#contact input {height: auto;}
	#contact label {margin-top:5px;}
	#message {width: 100% !important; padding: 0 15px;}
	#contact button {margin-left: 0; padding:15px 24px;}
	#contact_form_first {padding:0;}
	#contact textarea {height: 90px;}
	#callme {margin: 10px 0 0 0; padding: 4px 15px;}
	#callme span {margin:0;}
}





